<section class="why-me" id="why-me">
  <div class="why-me-left">
    <img src="../../../assets/img/me.png" alt="" />
  </div>
  <div class="why-me-right">
    <h2>{{"WHY_ME.TITLE" | translate}}</h2>
    <span
      >{{"WHY_ME.DESCRIPTION" | translate}}</span
    >
    <div class="why-me-arrow-left">
      <img src="../../../assets/img/arrow_03.png" alt="arrow icon">
    </div>
    <div class="why-me-iam">
      <div class="why-me-locate">
        <div  class="why-me-locate-left">
          <h3>{{"WHY_ME.IAM" | translate}}</h3>
        </div>
        <div class="why-me-locate-right">
          <div class="locate-img-wrapper">
            <img
              src="../../../assets/img/located_icon.png"
              alt="locate icon"
              class="locate-img"
            />
          </div>
          <span>{{"WHY_ME.LOCATED" | translate}}</span>
        </div>
      </div>
      <div class="why-me-arrow">
        <img src="../../../assets/img/arrow_03.png" alt="arrow icon" />
      </div>
      <div class="why-me-remote">
        <div class="why-me-remote-left">
          <div class="remote-img-wrapper">
            <img
              src="../../../assets/img/remote_icon_01.png"
              alt="remote icon"
              class="remote-img"
            />
          </div>
          <span>{{"WHY_ME.AVAILABLE" | translate}}</span>
        </div>
        <div class="why-me-remote-right">
          <img src="../../../assets/img/arrow_01.png" alt="arrow icon" />
        </div>
      </div>
      <div class="why-me-arrow-right">
        <img src="../../../assets/img/arrow_09.png" alt="arrow icon" />
      </div>
      <div class="why-me-talk-btn">
        <a href="#contact-me" class="btn">{{"WHY_ME.LETS_TALK" | translate}}</a>
      </div>
    </div>
  </div>
</section>
