<section class="why-me" id="why-me">
  <div class="why-me-left">
    <img src="../../../assets/img/me.png" alt="" />
  </div>
  <div class="why-me-right">
    <h2>Why me</h2>
    <span
      >I am motivated to continuously learn new technologies and develop myself.
      My ability to solve complex problems and my passion for programming make
      me a valuable member of your team.</span
    >
    <div class="why-me-iam">
      <div class="why-me-locate">
        <div  class="why-me-locate-left">
          <h3>I am</h3>
        </div>
        <div class="why-me-locate-right">
          <div class="locate-img-wrapper">
            <img
              src="../../../assets/img/located_icon.png"
              alt="locate icon"
              class="locate-img"
            />
          </div>
          <span>located in Mönchengladbach</span>
        </div>
      </div>
      <div class="why-me-arrow">
        <img src="../../../assets/img/arrow_03.png" alt="arrow icon" />
      </div>
      <div class="why-me-remote">
        <div class="why-me-remote-left">
          <div class="remote-img-wrapper">
            <img
              src="../../../assets/img/remote_icon_01.png"
              alt="remote icon"
              class="remote-img"
            />
          </div>
          <span>open to work remote</span>
        </div>
        <div class="why-me-remote-right">
          <img src="../../../assets/img/arrow_01.png" alt="arrow icon" />
        </div>
      </div>
      <div class="why-me-talk-btn">
        <a href="#contact-me" class="btn">Let's talk</a>
      </div>
    </div>
  </div>
</section>
