@use "../../../variables.scss" as v;
@use "../../../mixins.scss" as m;

.why-me {
  @include m.flexBox(row, space-between, center);
  margin-bottom: 100px;
  gap: 2px;
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  height: 90dvh;

  @media(max-width: 630px) {
    height: 85dvh;
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .why-me-left {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 10px;

      @media (max-width: 650px) {
        display: none;
      }
    }
  }

  .why-me-right {
    @include m.styleFont("Roboto", 16px, 400, 19.2px, v.$secondary-color);
    @include m.flexBox(column, flex-end, flex-end);
    width: 100%;
    padding: 0;
    gap: 10px;

    h2 {
      @include m.styleFont("Roboto", 54px, 500, 64.8px, v.$primary-color);
      @include m.flexBox(row, flex-end, center);
    }

    span {
      display: block;
      text-align: right;
    }

    .why-me-arrow-left {
      display: none;
    }

    .why-me-iam {
      width: 568px;
      gap: 16px;

      h3 {
        @include m.styleFont("Roboto", 48px, 700, 57.6px, v.$primary-color);
        margin-right: 40px;
      }

      .why-me-locate {
        @include m.flexBox(row, flex-start, center);

        span {
          text-align: left;
          width: 150px;
        }

        .why-me-locate-right {
          @include m.flexBox(row, flex-start, center);

          .locate-img-wrapper {
            position: relative;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;

            &:hover::after {
              content: "";
              display: block;
              width: 25px;
              height: 10px;
              background: url("../../../assets/img/elipse_icon.png") no-repeat
                center;
              background-size: contain;
              position: absolute;
              top: 85%;
              left: 50%;
              transform: translateX(-50%);
              z-index: 10;
            }

            img {
              width: auto;
              height: auto;
              display: block;
              transition: transform 0.3s ease-out;
            }

            &:hover img {
              transform: translateY(-5px);
            }
          }
        }
      }

      .why-me-arrow {
        height: 60px;
        img {
          margin-left: 125px;
        }
      }

      .why-me-remote {
        @include m.flexBox(row, space-between, center);
        margin: 0px 150px;

        .why-me-remote-left {
          @include m.flexBox(row, center, flex-end);

          .remote-img-wrapper {
            position: relative;
            display: inline-block;

            &:hover::after {
              content: "";
              display: block;
              width: 29px;
              height: 23px;
              background: url("../../../assets/img/remote_icon_03.png")
                no-repeat center;
              background-size: contain;
              position: absolute;
              top: 2%;
              left: 22.7%;
              transform: translateX(-50%);
              z-index: 10;
            }

            img {
              width: auto;
              height: auto;
              display: block;
            }
          }

          span {
            text-align: left;
            margin-left: 10px;
            width: 130px;
          }
        }
      }

      .why-me-arrow-right {
        display: none;
      }

      .why-me-talk-btn {
        @include m.flexBox(row, flex-end, center);
        margin-top: 20px;

        .btn {
          background-color: v.$secondary-color;
          @include m.styleFont("Roboto", 18px, 500, 21.6px, black);
          text-decoration: none;
          width: auto;
          height: 52px;
          padding: 15px 30px 15px 30px;
          gap: 10px;
          opacity: 0px;

          &:hover {
            color: v.$primary-color;
          }
        }
      }
    }
  }

  @media (max-width: 630px) {
    flex-direction: column;
    gap: 20px;

    .why-me-left {
      display: none;
    }

    .why-me-right {
      @include m.flexBox(column, center, center);
      max-width: 100%;

      h2 {
        @include m.styleFont("Roboto", 32px, 700, 38.4px, v.$primary-color);
      }

      span {
        text-align: center;
        @include m.styleFont("Roboto", 16px, 400, 19.2px, v.$secondary-color);
      }

      .why-me-arrow-left {
        width: 100%;
        @include m.flexBox(row, flex-start, center);
      }

      .why-me-iam {
        @include m.flexBox(column, center, center);
        width: 100%;

        h3 {
          @include m.styleFont("Roboto", 18px, 700, 25.2px, v.$primary-color);
          margin-right: 0px;
          margin-bottom: 20px;
        }

        .why-me-locate {
          @include m.flexBox(column, center, center);

          .locate-img-wrapper {
            @include m.flexBox(row, center, center);
            margin-right: 0px;

            img {
              height: 32px;
              width: 26px;
            }
          }

          span {
            text-align: center;
            width: 100%;
          }
        }

        .why-me-arrow {
          display: none;
        }

        .why-me-remote {
          margin: 0px 0px;

          .why-me-remote-left {
            .remote-img-wrapper {
              margin-right: 0px;

              img {
                height: 43.96px;
                width: 49.12px;
              }
            }

            span {
              text-align: center;
              width: 100%;
            }
          }

          .why-me-remote-right {
            display: none;
          }
        }

        .why-me-arrow-right {
          width: 100%;
          @include m.flexBox(row, flex-end, center);
        }

        .why-me-talk-btn {
          margin: 0;

          .btn {
            opacity: 1;
            @include m.styleFont("Roboto", 16px, 400, 19.2px, black);
            padding: 10px 20px 10px 20px;
            width: auto;
            height: 43px;

            &:hover {
              color: v.$primary-color;
            }
          }
        }
      }
    }
  }
}
