<section class="contact-me" id="contact-me">
  <div class="contact-headline">
    <h2>Contact me</h2>
    <img src="../../../assets/img/arrow_01.png" alt="arrow" />
  </div>
  <div class="contact-text">
    <div class="contact-text-left">
      <p>
        Still not sure if I am the right person for your project? Contact me so
        I can reassure you. Let us work together
      </p>
    </div>
    <div class="contact-text-right">
      <div class="contact-text-mail">
        <img src="../../../assets/img/icon _email.png" alt="mail icon" />
        <span>E-Mail: p.pfautsch&#64;arcor.de</span>
      </div>
      <div class="contact-text-phone">
        <img src="../../../assets/img/icon _phone.png" alt="phone icon" />
        <span>Tel: 01522 1763968</span>
      </div>
    </div>
    <div class="contact-text-arrow">
      <a href="#navbar">
        <img src="../../../assets/img/arrow_06.png" alt="arrow up" class="arrow-img">
      </a>
    </div>
  </div>

  <form
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
    class="contact-form"
  >
  <div class="form-inputs">
    <div class="form-left">
      <input
        [(ngModel)]="contactData.name"
        type="text"
        id="name"
        name="name"
        placeholder="Your Name"
        required
      />

      <input
        [(ngModel)]="contactData.email"
        type="email"
        id="email"
        name="email"
        placeholder="Your Email"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      />
    </div>

    <div class="form-right">
      <textarea
        #message="ngModel"
        minlength="4"
        [(ngModel)]="contactData.message"
        name="message"
        id="message"
        placeholder="Your Message"
        required
      ></textarea>
      @if (!message.valid && message.touched) {
      <span>Please enter a message</span>
      }
    </div>
  </div>

    <div class="form-privacy-submit">
      <div>
      <input type="checkbox" id="privacy-policy" name="privacy-policy" />
      <label for="privacy-policy">
        I've read the privacy policy and agree to the processing of my data as
        outlined.</label><br />
      </div>
      <input type="submit" value="Send" />
    </div>
  </form>
</section>
