<section class="contact-me" id="contact-me">
  <div class="contact-headline">
    <h2>{{ "CONTACT.TITLE" | translate }}</h2>
    <img src="../../../assets/img/arrow_01.png" alt="arrow" />
  </div>
  <div class="contact-text">
    <div class="contact-text-left">
      <p>
        {{ "CONTACT.DESCRIPTION" | translate }}
      </p>
    </div>
    <div class="contact-text-right">
      <div class="contact-text-mail">
        <img src="../../../assets/img/icon _email.png" alt="mail icon" />
        <span>E-Mail: kontakt&#64;peterpfautsch.de</span>
      </div>
      <div class="contact-text-phone">
        <img src="../../../assets/img/icon _phone.png" alt="phone icon" />
        <span>Tel: 01522 1763968</span>
      </div>
    </div>
    <div class="contact-text-arrow">
      <a href="#hero">
        <img
          src="../../../assets/img/arrow_06.png"
          alt="arrow up"
          class="arrow-img"
        />
      </a>
    </div>
  </div>

  <form
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
    class="contact-form"
    autocomplete="off"
  >
    <div class="form-inputs">
      <div class="form-left">
        <div
          class="form-name"
          [ngClass]="{
            'input-error': nameError,
            'input-done': !nameError && contactData.name
          }"
        >
          <input
            [(ngModel)]="contactData.name"
            type="text"
            id="name"
            name="name"
            [placeholder]="'CONTACT.FORM.NAME' | translate"
            required
            (blur)="checkName()"
            [value]="nameError || contactData.name"
            [ngStyle]="{ color: nameError ? '#F92103' : '' }"
            [title]="'CONTACT.FORM.NAME_HINT' | translate"
          />
        </div>

        <div
          class="form-email"
          [ngClass]="{
            'input-error': emailError,
            'input-done': !emailError && contactData.email
          }"
        >
          <input
            [(ngModel)]="contactData.email"
            type="email"
            id="email"
            name="email"
            [placeholder]="'CONTACT.FORM.EMAIL' | translate"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            (blur)="checkEmail()"
            [value]="emailError || contactData.email"
            [ngStyle]="{ color: emailError ? '#F92103' : '' }"
            [title]="'CONTACT.FORM.EMAIL_HINT' | translate"
          />
        </div>
      </div>

      <div class="form-right">
        <div
          class="form-message"
          [ngClass]="{
            'input-error': messageError,
            'input-done': !messageError && contactData.message
          }"
        >
          <textarea
            #message="ngModel"
            [(ngModel)]="contactData.message"
            name="message"
            id="message"
            [placeholder]="'CONTACT.FORM.MESSAGE' | translate"
            required
            (blur)="checkMessage()"
            [value]="messageError || contactData.message"
            [ngStyle]="{ color: messageError ? '#F92103' : '' }"
            [title]="'CONTACT.FORM.MESSAGE_HINT' | translate"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="form-privacy-submit">
      <div>
        <input
          type="checkbox"
          id="privacy-policy"
          [(ngModel)]="privacyChecked"
          name="privacy-policy"
        />
        <label for="privacy-policy">
          {{ "CONTACT.FORM.PRIVACY_POLICY_TEXT_1" | translate }}
          <a href="/privacy-policy" target="_blank">{{
            "CONTACT.FORM.PRIVACY_POLICY" | translate
          }}</a>
          {{ "CONTACT.FORM.PRIVACY_POLICY_TEXT_2" | translate }}</label
        ><br />
      </div>
      <input
        type="submit"
        [ngClass]="{
          'submit-active': privacyChecked,
          'submit-inactive': !privacyChecked
        }"
        [disabled]="!privacyChecked"
        [value]="'CONTACT.FORM.SUBMIT' | translate"
        [title]="privacyChecked ? '' : ('CONTACT.FORM.ACCEPT' | translate)"
      />
    </div>
  </form>

  <div class="contact-text-arrow-responsive">
    <a href="#hero">
      <img
        src="../../../assets/img/arrow_06.png"
        alt="arrow up"
        class="arrow-img"
      />
    </a>
  </div>

  <div class="contact-text-right-responsive">
    <div class="contact-text-mail">
      <img src="../../../assets/img/icon _email.png" alt="mail icon" />
      <span>kontakt&#64;peterpfautsch.de</span>
    </div>
    <div class="contact-text-phone">
      <img src="../../../assets/img/icon _phone.png" alt="phone icon" />
      <span>01522 1763968</span>
    </div>
  </div>

  <div class="contact-footer-right">
    <a
      *ngFor="let icon of icons"
      [href]="icon.url"
      target="_blank"
      (mouseover)="onHover(icon)"
      (mouseleave)="onLeave(icon)"
    >
      <img [src]="icon.image" [alt]="icon.alt" class="footer-icon" />
    </a>
  </div>

  <div class="success-message" id="success-message">
    <span> {{ "CONTACT.FORM.MESSAGE_SUCCESS" | translate }}</span>
  </div>
</section>
