@use "../../../variables.scss" as v;
@use "../../../mixins.scss" as m;

.contact-me {
  .contact-headline {
    @include m.flexBox(row, flex-start, center);

    h2 {
      @include m.styleFont("Roboto", 54px, 500, 64.8px, v.$primary-color);
    }

    img {
      margin-left: 20px;
    }
  }

  .contact-text {
    @include m.flexBox(row, flex-start, flex-start);
    margin-top: 20px;

    .contact-text-left {
      text-align: justify;
      @include m.styleFont("Roboto", 18px, 400, 21.6px, v.$secondary-color);
      max-width: 504px;
      margin-right: 50px;
    }

    .contact-text-right {
      @include m.flexBox(column, center, flex-start);

      span {
        margin-left: 20px;
        @include m.styleFont("Roboto", 20px, 500, 24px, v.$secondary-color);
      }

      .contact-text-mail,
      .contact-text-phone {
        @include m.flexBox(row, center, center);
      }

      .contact-text-mail img:hover {
        content: url("../../../assets/img/icon_mail_02.png");
      }

      .contact-text-mail:active span {
        text-decoration: underline;
      }

      .contact-text-phone img:hover {
        content: url("../../../assets/img/icon_phone_02.png");
      }
    }

    .contact-text-arrow {
      width: auto;
      height: auto;
      margin-left: auto;
      @include m.flexBox(row, center, center);
      cursor: pointer;

      a .arrow-img {
        width: 25px;
        height: 60px;
      }

      a:hover .arrow-img {
        transform: scaleY(1.2) scaleX(1.8);
        content: url("../../../assets/img/arrow_07.png");
      }
    }
  }

  .contact-form {
    max-width: 100%;
    margin-top: 20px;
    gap: 40px;
    @include m.flexBox(column, flex-start, flex-start);

    .form-inputs {
      width: 100%;
      @include m.flexBox(row, center, flex-start);

      .form-left,
      .form-right {
        flex: 1;
        min-width: 280px;
      }

      .form-left {
        @include m.flexBox(column, flex-start, flex-start);
        gap: 32px;
        margin-right: 40px;

        .form-name,
        .form-email {
          position: relative;
          width: 100%;

          input {
            @include m.styleFont(
              "Roboto",
              18px,
              400,
              25.2px,
              v.$secondary-color
            );
            width: 100%;
            height: 56px;
            background-color: transparent;
            border: 1.5px solid v.$secondary-color;
            padding: 0px 12px;

            &::placeholder {
              @include m.styleFont(
                "Roboto",
                18px,
                400,
                25.2px,
                v.$secondary-color
              );
              opacity: 60%;
            }
          }

          &.input-error::after {
            content: url("../../../assets/img/error_icon.png");
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 36px;
          }

          &.input-done::after {
            content: url("../../../assets/img/done_icon.png");
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 36px;
          }
        }
      }

      .form-right {
        .form-message {
          position: relative;
          width: 100%;

          textarea {
            @include m.styleFont(
              "Roboto",
              18px,
              400,
              25.2px,
              v.$secondary-color
            );
            width: 100%;
            height: 144px;
            background-color: transparent;
            border: 1.5px solid v.$secondary-color;
            padding: 10px 12px;

            &::placeholder {
              @include m.styleFont(
                "Roboto",
                18px,
                400,
                25.2px,
                v.$secondary-color
              );
              opacity: 60%;
            }
          }

          &.input-error::after {
            content: url("../../../assets/img/error_icon.png");
            position: absolute;
            right: 10px;
            top: 20px;
            transform: translateY(-50%);
            width: 25px;
            height: 36px;
          }

          &.input-done::after {
            content: url("../../../assets/img/done_icon.png");
            position: absolute;
            right: 10px;
            top: 20px;
            transform: translateY(-50%);
            width: 25px;
            height: 36px;
          }
        }
      }

      input:focus,
      textarea:focus {
        outline: none;
        border-color: v.$secondary-color;
        border-radius: 0;
      }
    }

    .form-privacy-submit {
      @include m.flexBox(row, space-between, flex-start);
      width: 100%;
      height: 74px;

      input[type="checkbox"] {
        width: 18px;
        height: 18px;
        border: 1px solid v.$primary-color;
        background-color: transparent;
        appearance: none;
        outline: none;
        cursor: pointer;
        position: relative;

        &:hover {
          background-color: v.$secondary-color;
        }

        &:checked {
          background-color: v.$secondary-color;

          &::after {
            content: "✔";
            @include m.styleFont("Roboto", 14px, 400, 16.8px, v.$primary-color);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      label {
        @include m.styleFont("Roboto", 14px, 400, 16.8px, v.$secondary-color);

        a {
          color: v.$primary-color;
          text-decoration: none;
        }
      }

      input[type="submit"] {
        @include m.styleFont("Roboto", 18px, 500, 21.6px, #827b7b);
        width: 104px;
        height: 52px;
        border: 1px solid #827b7b;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease;

        &.submit-active {
          border-color: v.$secondary-color;
          color: v.$primary-color;
          transition: 0.3 ease-in;

          &:hover {
            color: v.$secondary-color;
          }
        }

        &.submit-inactive {
          border-color: #827b7b;
          color: #827b7b;
          cursor: help;
        }
      }
    }
  }

  .contact-text-right-responsive,
  .contact-text-arrow-responsive {
    display: none;
  }

  .contact-footer-right {
    display: none;
  }
}

@media (max-width: 576px) {
  .contact-me {
    width: 100%;
    @include m.flexBox(column, center, center);

    .contact-headline {
      h2 {
        @include m.styleFont("Roboto", 32px, 700, 38.4px, v.$primary-color);
      }

      img {
        display: none;
      }
    }

    .contact-text {
      .contact-text-left {
        @include m.styleFont("Roboto", 16px, 400, 19.2px, v.$secondary-color);
        text-align: center;
        margin-right: 0;
      }

      .contact-text-right,
      .contact-text-arrow {
        display: none;
      }
    }

    .contact-form {
      .form-inputs {
        width: 100%;
        @include m.flexBox(column, center, center);

        .form-left,
        .form-right {
          width: 100%;
          margin: 0;
        }

        .form-name,
        .form-email,
        .form-message {
          width: 100%;
        }

        .form-email {
          margin-bottom: 30px;
        }
      }

      .form-privacy-submit {
        @include m.flexBox(column, center, center);
        width: 100%;

        input {
          margin-top: 30px;
        }
      }
    }

    .contact-text-arrow-responsive {
      @include m.flexBox(row, flex-end, center);
      width: 100%;
      margin-top: 20px;
    }

    .contact-text-right-responsive {
      @include m.flexBox(column, center, center);
      gap: 28px;

      span {
        @include m.styleFont("Roboto", 20px, 500, 24px, v.$secondary-color);
        margin-top: 10px;
      }

      .contact-text-mail,
      .contact-text-phone {
        @include m.flexBox(column, center, center);
      }

      .contact-text-mail img:hover {
        content: url("../../../assets/img/icon_mail_02.png");
      }

      .contact-text-mail:active span {
        text-decoration: underline;
      }

      .contact-text-phone img:hover {
        content: url("../../../assets/img/icon_phone_02.png");
      }
    }

    .contact-footer-right {
      @include m.flexBox(row, center, center);
      margin: 50px 0;

      a {
        text-decoration: none;
        @include m.styleFont("Roboto", 14px, 400, 16.8px, v.$primary-color);
        margin-right: 16px;
      }

      a:last-child {
        margin-right: 0;
      }
    }
  }
}
