@use "../../../variables.scss" as v;
@use "../../../mixins.scss" as m;

.contact-me {
  .contact-headline {
    @include m.flexBox(row, flex-start, center);

    h2 {
      @include m.styleFont("Roboto", 54px, 500, 64.8px, v.$primary-color);
    }

    img {
      margin-left: 20px;
    }
  }

  .contact-text {
    @include m.flexBox(row, flex-start, flex-start);
    margin-top: 20px;

    .contact-text-left {
      text-align: justify;
      @include m.styleFont("Roboto", 18px, 400, 21.6px, v.$secondary-color);
      max-width: 504px;
      margin-right: 50px;
    }

    .contact-text-right {
      @include m.flexBox(column, center, flex-start);

      span {
        margin-left: 20px;
        @include m.styleFont("Roboto", 20px, 500, 24px, v.$secondary-color);
      }

      .contact-text-mail,
      .contact-text-phone {
        @include m.flexBox(row, center, center);
      }
    }

    .contact-text-arrow {
      width: auto;
      height: auto;
      margin-left: auto;
      @include m.flexBox(row, center, center);
      cursor: pointer;
    
      a .arrow-img {
        width: 25px;
        height: 60px;
        transition: all 0.3s ease;
      }
    
      a:hover .arrow-img {
        content: url('../../../assets/img/arrow_07.png');
      }
    }
  }

  .contact-form {
    max-width: 100%;
    margin-top: 20px;
    gap: 40px;
    @include m.flexBox(column, flex-start, flex-start);

    .form-inputs {
      width: 100%;
      @include m.flexBox();

      .form-left,
      .form-right {
        flex: 1;
        min-width: 280px;
      }

      .form-left {
        @include m.flexBox(column, flex-start, flex-start);
        gap: 32px;

        input {
          width: 100%;
          max-width: 507px;
          height: 56px;
          background-color: transparent;
          border: 1.5px solid v.$secondary-color;
          padding: 0px 12px;

          &::placeholder {
            @include m.styleFont(
              "Roboto",
              18px,
              400,
              25.2px,
              v.$secondary-color
            );
            opacity: 60%;
          }
        }
      }

      .form-right {
        textarea {
          width: 100%;
          max-width: 637px;
          height: 144px;
          background-color: transparent;
          border: 1.5px solid v.$secondary-color;
          padding: 10px 12px;

          &::placeholder {
            @include m.styleFont(
              "Roboto",
              18px,
              400,
              25.2px,
              v.$secondary-color
            );
            opacity: 60%;
          }
        }
      }
    }

    .form-privacy-submit {
      @include m.flexBox(row, space-between, flex-start);
      width: 100%;
      height: 74px;

      input[type="checkbox"] {
        width: 18px;
        height: 18px;
        border: 1px solid v.$primary-color;
        background-color: transparent;
        appearance: none;
        outline: none;
        cursor: pointer;
        position: relative;

        &:hover {
          background-color: v.$secondary-color;
        }
    
        &:checked {
          background-color: v.$secondary-color;
      
          &::after {
            content: "✔";
            @include m.styleFont("Roboto", 14px, 400, 16.8px, v.$primary-color);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      label {
        @include m.styleFont("Roboto", 14px, 400, 16.8px, v.$secondary-color);
      }

      input[type="submit"] {
        @include m.styleFont("Roboto", 18px, 500, 21.6px, #827b7b);
        background-color: transparent;
        width: 104px;
        height: 52px;
        border: 1px solid #827b7b;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .contact-form {
    flex-direction: column;

    .form-left,
    .form-right {
      width: 100%;
      max-width: none;
    }

    input,
    textarea {
      width: 100%;
    }
  }
}
