<section class="contact-me" id="contact-me">
  <div class="contact-headline">
    <h2>Contact me</h2>
    <img src="../../../assets/img/arrow_01.png" alt="arrow" />
  </div>
  <div class="contact-text">
    <div class="contact-text-left">
      <p>
        Still not sure if I am the right person for your project? Contact me so
        I can reassure you. Let us work together
      </p>
    </div>
    <div class="contact-text-right">
      <div class="contact-text-mail">
        <img src="../../../assets/img/icon _email.png" alt="mail icon" />
        <span>E-Mail: p.pfautsch&#64;arcor.de</span>
      </div>
      <div class="contact-text-phone">
        <img src="../../../assets/img/icon _phone.png" alt="phone icon" />
        <span>Tel: 01522 1763968</span>
      </div>
    </div>
    <div class="contact-text-arrow">
      <a href="#navbar">
        <img
          src="../../../assets/img/arrow_06.png"
          alt="arrow up"
          class="arrow-img"
        />
      </a>
    </div>
  </div>

  <form
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
    class="contact-form"
    autocomplete="off"
  >
    <div class="form-inputs">
      <div class="form-left">
        <div class="form-name" [ngClass]="{'input-error': nameError, 'input-done': !nameError && contactData.name}">
          <input
            [(ngModel)]="contactData.name"
            type="text"
            id="name"
            name="name"
            placeholder="Your Name"
            required
            (blur)="checkName()"
            [value]="nameError || contactData.name"
            [ngStyle]="{ 'color': nameError ? '#F92103' : '' }"
            title="The name must have more than 2 letters"
          />
        </div>

        <div class="form-email" [ngClass]="{'input-error': emailError, 'input-done': !emailError && contactData.email}">
          <input
            [(ngModel)]="contactData.email"
            type="email"
            id="email"
            name="email"
            placeholder="Your Email"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            (blur)="checkEmail()"
            [value]="emailError || contactData.email"
            [ngStyle]="{ 'color': emailError ? '#F92103' : '' }"
            title="Please enter a valid email address"
          />
        </div>
      </div>

      <div class="form-right">
        <div class="form-message" [ngClass]="{'input-error': messageError, 'input-done': !messageError && contactData.message}">
          <textarea
            #message="ngModel"
            [(ngModel)]="contactData.message"
            name="message"
            id="message"
            placeholder="Your Message"
            required
            (blur)="checkMessage()"
            [value]="messageError || contactData.message"
            [ngStyle]="{ 'color': messageError ? '#F92103' : '' }"
            title="Your message must have at least 4 words"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="form-privacy-submit">
      <div>
        <input
          type="checkbox"
          id="privacy-policy"
          [(ngModel)]="privacyChecked"
          name="privacy-policy"
        />
        <label for="privacy-policy">
          I've read the
          <a href="/privacy-policy" target="_blank">privacy policy</a>
          and agree to the processing of my data as outlined. </label
        ><br />
      </div>
      <input
        type="submit"
        [ngClass]="{
          'submit-active': privacyChecked,
          'submit-inactive': !privacyChecked
        }"
        [disabled]="!privacyChecked"
        value="Send"
        [title]="privacyChecked ? '' : 'Please accept the privacy policy'"
      />
    </div>
  </form>
</section>
