@use "../../../../variables.scss" as v;
@use "../../../../mixins.scss" as m;

:host {
  scroll-behavior: smooth;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  @include m.styleFont("Roboto", 22px, 500, 26.4px, v.$primary-color);
  padding: 0px 4px;
  transition: color 0.125s;

  &:hover,
  &.activ {
    color: v.$hover-color;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px !important;
  color: v.$primary-color;
  font-size: 22px;
  background: linear-gradient(to bottom, #0b042d 0%, #0b042d33 95%);
  z-index: 1000;

  .nav-link {
    @include m.flexBox();
    padding: 24px 20px;
    max-width: 1920px;
    margin: 0 auto;

    .nav-left {
      display: flex;
      align-items: center;

      .navbar-initials {
        p {
          @include m.styleFont("Handjet", 48px, 500, 48px, v.$primary-color);
          margin-right: 48px;

          @media (max-width: 895px) {
            font-size: 40px;
            margin-right: 20px;
          }
        }
      }

      .nav-links {
        .nav-links-left {
          a {
            text-decoration: none;
            margin-right: 48px;
            cursor: pointer;
            @include m.styleFont("Roboto", 22px, 500, 26.4px, v.$primary-color);

            @media (max-width: 895px) {
              font-size: 18px;
              margin-right: 20px;
            }

            &:hover {
              color: v.$hover-color;
            }
          }
        }
      }
    }

    .nav-right {
      @include m.flexBox(row, center, center);
      margin-left: auto;

      button {
        padding: 0px 4px;
        transition: color 0.125s;

        &:hover,
        &.activ {
          color: v.$hover-color;
        }
      }
    }

    .nav-burger-menu {
      @include m.dNone;

      @media (max-width: 576px) {
        display: block;
        cursor: pointer;

        img {
          font-size: 32px;
          color: v.$primary-color;
        }
      }
    }
  }

  .full-screen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #13074e 100%, #1d0a79 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;

    img {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 24px;
      right: 24px;
      cursor: pointer;
    }

    a {
      @include m.styleFont("Roboto", 22px, 500, 26.4px, v.$primary-color);
      margin: 40px 0;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: v.$hover-color;
      }
    }

    .burger-language {
      @include m.flexBox(row, space-around, center);
      width: 30%;
    }
  }
}

@media (max-width: 576px) {
  .navbar {
    .nav-link {
      @include m.flexBox(row, space-between, center);
      margin: 0px 24px;

      .nav-links {
        display: none;
      }

      .nav-right {
        display: none;
      }
    }
  }
}