<section class="navbar" id="navbar">
  <div class="nav-link">
    <div class="nav-left">
      <div class="navbar-initials">
        <p>&lt;PP&gt;</p>
      </div>
      <div class="nav-links">
        <div class="nav-links-left">
          <a routerLink="/" (click)="scrollToSection('why-me')">{{ "NAVBAR.WHY_ME" | translate }}</a>
          <a routerLink="/" (click)="scrollToSection('skills')">{{ "NAVBAR.SKILLS" | translate }}</a>
          <a routerLink="/" (click)="scrollToSection('projects')">{{ "NAVBAR.PROJECTS" | translate }}</a>
          <a routerLink="/" (click)="scrollToSection('contact-me')">{{ "NAVBAR.CONTACT" | translate }}</a>
        </div>
      </div>
    </div>
    <div class="nav-right">
      <a href="" (click)="useLanguage($event, 'de')">DE</a>
      <p>|</p>
      <a href="" (click)="useLanguage($event, 'en')">EN</a>
    </div>
    <div class="nav-burger-menu" (click)="toggleMenu()">
      <img src="../../../../assets/img/burger_menu.png" alt="burger menu icon" />
    </div>
  </div>
  <div class="full-screen-menu" *ngIf="menuOpen">
    <img src="../../../../assets/img/exit_menu.png" alt="burger menu icon" (click)="toggleMenu()" />
    <a routerLink="/" (click)="toggleMenu(); scrollToSection('why-me')">{{ "NAVBAR.WHY_ME" | translate }}</a>
    <a routerLink="/" (click)="toggleMenu(); scrollToSection('skills')">{{ "NAVBAR.SKILLS" | translate }}</a>
    <a routerLink="/" (click)="toggleMenu(); scrollToSection('projects')">{{ "NAVBAR.PROJECTS" | translate }}</a>
    <a routerLink="/" (click)="toggleMenu(); scrollToSection('contact-me')">{{ "NAVBAR.CONTACT" | translate }}</a>
    <div class="burger-language">
      <a href="" (click)="useLanguage($event, 'de')">DE</a>
      <p>|</p>
      <a href="" (click)="useLanguage($event, 'en')">EN</a>
    </div>
  </div>
</section>
