<section class="navbar" id="navbar">
  <div class="nav-link">
    <div class="nav-left">
      <div class="navbar-initials">
        <p>&lt;PP&gt;</p>
      </div>
      <div class="nav-links">
        <div class="nav-links-left">
          <a href="#why-me" (click)="scrollToSection($event, 'why-me')">{{ "NAVBAR.WHY_ME" | translate }}</a>
          <a href="#skills" (click)="scrollToSection($event, 'skills')">{{ "NAVBAR.SKILLS" | translate }}</a>
          <a href="#projects" (click)="scrollToSection($event, 'projects')">{{ "NAVBAR.PROJECTS" | translate }}</a>
          <a href="#contact-me" (click)="scrollToSection($event, 'contact-me')">{{ "NAVBAR.CONTACT" | translate }}</a>
        </div>
      </div>
    </div>
    <div class="nav-right">
      <a href="" (click)="useLanguage($event, 'de')">DE</a>
      <p>|</p>
      <a href="" (click)="useLanguage($event, 'en')">EN</a>
    </div>
    <div class="nav-burger-menu" (click)="toggleMenu()">
      <img
        src="../../../../assets/img/burger_menu.png"
        alt="burger menu icon"
      />
    </div>
  </div>
  <div class="full-screen-menu" *ngIf="menuOpen">
    <img
      src="../../../../assets/img/exit_menu.png"
      alt="burger menu icon"
      (click)="toggleMenu()"
    />
    <a href="#why-me" (click)="toggleMenu(); scrollToSection($event, 'why-me')">{{ "NAVBAR.WHY_ME" | translate }}</a>
    <a href="#skills" (click)="toggleMenu(); scrollToSection($event, 'skills')">{{ "NAVBAR.SKILLS" | translate }}</a>
    <a href="#projects" (click)="toggleMenu(); scrollToSection($event, 'projects')">{{ "NAVBAR.PROJECTS" | translate }}</a>
    <a href="#contact-me" (click)="toggleMenu(); scrollToSection($event, 'contact-me')">{{ "NAVBAR.CONTACT" | translate }}</a>
    <div class="burger-language">
      <a href="" (click)="useLanguage($event, 'de')">DE</a>
      <p>|</p>
      <a href="" (click)="useLanguage($event, 'en')">EN</a>
    </div>
  </div>
</section>
