<section class="projects" id="projects">
    <h2> {{"PROJECTS.TITLE" | translate}} </h2>
  
    <div class="project" *ngFor="let project of projects">
      <div class="project-left">
        <img [src]="project.image" [alt]="project.name">
      </div>
      <div class="project-right">
        <h3>{{ project.name }}</h3>
        <p class="stack">{{ project.stack }}</p>
        <p class="description">{{ project.descriptionKey | translate }}</p>
        <div class="buttons">
          <a [href]="project.github" target="_blank" class="button">GitHub</a>
          <a [href]="project.liveDemo" target="_blank" class="button">Live Test</a>
        </div>
      </div>
      <div class="project-responsive">
        <h4>{{ project.name }}</h4>
        <h5 class="stack">{{ project.stack }}</h5>
        <p class="description">{{ project.descriptionKey | translate }}</p>
        <img [src]="project.image" [alt]="project.name">
        <div class="buttons">
          <a [href]="project.github" target="_blank" class="button">GitHub</a>
          <a [href]="project.liveDemo" target="_blank" class="button">Live Test</a>
        </div>
      </div>
    </div>
  </section>
  