@use "../../../variables.scss" as v;
@use "../../../mixins.scss" as m;

.projects {
  @include m.flexBox(column, center, center);
  padding: 50px 20px;
  width: 100%;

  h2 {
    @include m.styleFont('Roboto', 54px, 500, 64.8px, v.$primary-color);
    margin-bottom: 30px;
  }

  .project {
    @include m.flexBox(row, center, flex-start);
    width: 100%;
    margin-bottom: 40px;

    .project-left {      
      @include m.flexBox(row, flex-end, center);
      width: 50%;
      padding: 10px;

      img {
        width: 100%;
        max-width: 588px;
        height: auto;
      }
    }

    .project-right {
      width: 50%;
      padding: 0px 40px;
      @include m.flexBox(column, center, flex-start);

      h3 {
        @include m.styleFont('Roboto', 48px, 700, 57.6px, v.$secondary-color);
        margin-bottom: 10px;
      }

      .stack {
        @include m.styleFont('Roboto', 18px, 400, 25.2px, v.$secondary-color);
        margin-bottom: 15px;
      }

      .description {
        @include m.styleFont('Roboto', 18px, 400, 25.2px, v.$secondary-color);
        margin-bottom: 20px;
      }

      .buttons {
        display: flex;
        gap: 20px;

        .button {
          padding: 10px 20px;
          text-decoration: none;
          @include m.styleFont('Roboto', 18px, 500, 21.6px, v.$primary-color);
          
        }

        .button:nth-child(1) {
          background-color: transparent;
          border: 1px solid v.$secondary-color;
          transition: color 0.5s, transform 0.5s;

          &:hover {
            color: v.$secondary-color;
          }
        }
      
        .button:nth-child(2) {
          background-color: #02F4BF;
          color: black;          
          transition: color 0.5s, transform 0.5s;

          &:hover {
            color: v.$primary-color;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .project {
      flex-direction: column;
      align-items: flex-start;
    }

    .project-left {
      margin-bottom: 20px;
    }

    .project-right {
      padding: 15px;
    }
  }
}
