<footer>
    <div class="footer-left">
        <span>&lt;PP&gt;</span>
        <span>frontend developer</span>
    </div>
    <div class="footer-mid">
        <div class="footer-copyright">
            <span>© Peter pfautsch 2024</span>
        </div>
        <div class="footer-links">
            <a href="">Legal notice</a>
            <a href="">Privacy policy</a>
        </div>
    </div>
    <div class="footer-right">
        <img src="../../../../assets/img/github_button.png" alt="github button">
        <img src="../../../../assets/img/email_button.png" alt="email button">
        <img src="../../../../assets/img/linkedin_button.png" alt="linkedin button">
    </div>
</footer>
