<footer>
  <div class="footer-left">
    <span>&lt;PP&gt;</span>
    <span>frontend developer</span>
  </div>
  <div class="footer-mid">
    <div class="footer-copyright">
      <span>© Peter Pfautsch {{ currentYear }}</span>
    </div>
    <div class="footer-links">
      <a href="">Legal notice</a>
      <a href="">Privacy policy</a>
    </div>
  </div>
  <div class="footer-right">
    <a
      *ngFor="let icon of icons"
      [href]="icon.url"
      target="_blank"
      (mouseover)="onHover(icon)"
      (mouseleave)="onLeave(icon)"
    >
      <img [src]="icon.image" [alt]="icon.alt" class="footer-icon" />
    </a>
  </div>
</footer>
