<section class="imprint">
  <h3>{{ 'imprint.section-1.title' | translate }}</h3>
  <p>
    {{ 'imprint.section-1.name' | translate }}<br />
    {{ 'imprint.section-1.address' | translate }}<br />
    {{ 'imprint.section-1.city' | translate }}<br />
  </p>

  <h3>{{ 'imprint.contact.title' | translate }}</h3>
  <p>
    {{ 'imprint.contact.phone' | translate }}<br />
    E-Mail:
    <a href="mailto:{{ 'imprint.contact.email' | translate }}">{{ 'imprint.contact.email' | translate }}</a>
  </p>

  <h3>{{ 'imprint.responsible.title' | translate }}</h3>
  <p>
    {{ 'imprint.responsible.name' | translate }}<br />
    {{ 'imprint.responsible.address' | translate }}<br />
    {{ 'imprint.responsible.city' | translate }}<br />
  </p>

  <h3>{{ 'imprint.liability-content.title' | translate }}</h3>
  <p>{{ 'imprint.liability-content.text1' | translate }}</p>
  <p>{{ 'imprint.liability-content.text2' | translate }}</p>

  <h3>{{ 'imprint.liability-links.title' | translate }}</h3>
  <p>{{ 'imprint.liability-links.text1' | translate }}</p>
  <p>{{ 'imprint.liability-links.text2' | translate }}</p>

  <h3>{{ 'imprint.copyright.title' | translate }}</h3>
  <p>{{ 'imprint.copyright.text1' | translate }}</p>
  <p>{{ 'imprint.copyright.text2' | translate }}</p>

  <h3>{{ 'imprint.dispute-resolution.title' | translate }}</h3>
  <p>
    {{ 'imprint.dispute-resolution.text1' | translate }} 
    <a href="https://ec.europa.eu/consumers/odr" target="_blank">{{ 'imprint.dispute-resolution.link' | translate }}</a>
  </p>
  <p>{{ 'imprint.dispute-resolution.text2' | translate }}</p>
</section>
