<section class="imprint">
  <h3>{{ "imprint.section-1.title" | translate }}</h3>
  <p>
    {{ "imprint.section-1.name" | translate }}<br />
    {{ "imprint.section-1.address" | translate }}<br />
    {{ "imprint.section-1.city" | translate }}<br />
  </p>
  <br />
  <h3>{{ "imprint.contact.title" | translate }}</h3>
  <p>
    {{ "imprint.contact.phone" | translate }}<br />
    E-Mail:
    <a href="mailto:{{ 'imprint.contact.email' | translate }}">{{
      "imprint.contact.email" | translate
    }}</a>
  </p>
  <br />
  <h3>{{ "imprint.responsible.title" | translate }}</h3>
  <p>
    {{ "imprint.responsible.name" | translate }}<br />
    {{ "imprint.responsible.address" | translate }}<br />
    {{ "imprint.responsible.city" | translate }}<br />
  </p>
  <br />
  <h3>{{ "imprint.liability-content.title" | translate }}</h3>
  <p>{{ "imprint.liability-content.text1" | translate }}</p>
  <p>{{ "imprint.liability-content.text2" | translate }}</p>
  <br />
  <h3>{{ "imprint.liability-links.title" | translate }}</h3>
  <p>{{ "imprint.liability-links.text1" | translate }}</p>
  <p>{{ "imprint.liability-links.text2" | translate }}</p>
  <br />
  <h3>{{ "imprint.copyright.title" | translate }}</h3>
  <p>{{ "imprint.copyright.text1" | translate }}</p>
  <p>{{ "imprint.copyright.text2" | translate }}</p>
  <br />
</section>
