@use "../../variables.scss" as v;
@use "../../mixins.scss" as m;

.imprint {
    @include m.styleFont('Roboto', 16px, 400, 26.1px);
    margin-bottom: 20px;
    margin-top: 100px;
    height: 100vh;

    h2, h3 {
        color: v.$primary-color;
    }

    a {
        text-decoration: none;
        @include m.styleFont('Roboto', 16px, 400, 26.1px, v.$primary-color);
    }
}