@use "../../../variables.scss" as v;
@use "../../../mixins.scss" as m;

.said-about {
  @include m.flexBox(column, center, center);
  margin-bottom: 100px;

  ::-webkit-scrollbar {
    display: none;
  }

  .said-about-headline {
    @include m.flexBox(column, center, flex-start);
    width: 100%;

    @media (max-width: 576px) {
      display: none;
    }

    h3 {
      @include m.styleFont("Roboto", 24px, 700, 28.8px, v.$primary-color);
      margin-bottom: 32px;
    }
  }

  .said-about-headline-responsive {
    display: none;

    @media (max-width: 576px) {
      @include m.flexBox(column, center, center);
      width: 100%;

      h4 {
        @include m.styleFont("Roboto", 24px, 700, 28.8px, v.$primary-color);
        margin-bottom: 32px;

        @media (max-width: 576px) {
          margin-bottom: 8px;
          text-align: center;
        }
      }

      p {
        @include m.styleFont("Roboto", 16px, 400, 19.2px, v.$primary-color);

        @media (max-width: 576px) {
          margin-bottom: 30px;
          text-align: center;
        }
      }
    }
  }

  .about-main {
    @include m.flexBox(row, flex-start, flex-start);
    overflow-x: auto;

    @media (max-width: 576px) {
      width: 100%;
    }

    img {
      margin: 0px 32px;

      @media (max-width: 576px) {
        display: none;
      }
    }
  }

  .about {
    @include m.flexBox(column, center, flex-start);
    width: 100%;
    box-sizing: border-box;
    margin-right: 32px;

    @media (max-width: 576px) {
      @include m.flexBox(column);
      border: 1px solid v.$secondary-color;
      text-align: center;
      padding: 15px;
      width: 100%;
      min-width: 239px;
    }

    h4 {
      @include m.styleFont("Roboto", 24px, 700, 28.8px, v.$primary-color);
    }

    .about-project-responsive {
      display: none;

      @media (max-width: 576px) {
        @include m.flexBox(column, center, center);
        @include m.styleFont("Roboto", 16px, 400, 19.2px, v.$secondary-color);
        margin-bottom: 16px;
      }
    }

    h5 {
      @include m.styleFont("Roboto", 18px, 400, 25.2px, v.$secondary-color);
      margin-bottom: 8px;

      @media (max-width: 576px) {
        display: none;
      }
    }

    p {
      @include m.styleFont("Roboto", 18px, 400, 21.6px, v.$secondary-color);

      @media (max-width: 576px) {
        @include m.styleFont("Roboto", 16px, 400, 19.2px, v.$secondary-color);
      }
    }
  }
}
