<section class="said-about" id="said-about" #saidAbout>
  <div class="said-about-headline">
    <h3>{{"ABOUT.TITLE" | translate}}</h3>
  </div>
  <div class="said-about-headline-responsive">
    <h4>{{"ABOUT.TITLE_RESPONSIVE" | translate}}</h4>
    <p>{{"ABOUT.DESCRIPTION_RESPONSIVE" | translate}}</p>
  </div>
  <div class="about-main">
    <img src="../../../assets/img/arrow_05.png" alt="arrow icon" />
    <div class="about" *ngFor="let about of abouts">
      <h4>{{ about.name }}</h4>
      <p class="about-project-responsive">{{ about.project }}</p>
      <h5>{{ about.project }}</h5>
      <p>{{ about.descriptionKey | translate }}</p>
    </div>
  </div>
</section>
