@use "../../../variables.scss" as v;
@use "../../../mixins.scss" as m;

.skills {
  margin-bottom: 50px;  
  text-align: center;

  h2 {
    @include m.styleFont("Roboto", 54px, 500, 64.8px, v.$primary-color);
    @include m.flexBox(row, flex-start, flex-start);
    margin-bottom: 50px;
  }
}

.skill-icons {
  @include m.flexBox(row, flex-start, center);
  gap: 20px;
  flex-wrap: wrap;
}

.skill {
  text-align: center;
  width: 100px;
  margin-bottom: 50px;

  .skill-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &.challenge-me .skill-content {
    flex-direction: row;
    align-items: center;

    .icon-and-name {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;

    &:hover {
      animation: bounce 0.9s ease-in-out infinite;
    }
  }

  p {
    @include m.styleFont("Roboto", 18px, 400, 25.2px, v.$secondary-color);
  }

  .tooltip {
    width: 400px;
    white-space: wrap;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) scaleY(1);
  }

  30% {
    transform: translateY(-20px) scaleY(1.1);
  }

  50% {
    transform: translateY(0) scaleY(0.9);
  }

  70% {
    transform: translateY(-10px) scaleY(1.05);
  }
}
