@use "../../../variables.scss" as v;
@use "../../../mixins.scss" as m;

.skills {
    max-height: 422px;
    margin-bottom: 80px;
    margin: 0px 50px;
  }

.skills h2 {
    @include m.styleFont('Roboto', 54px, 400, 64.8px, v.$primary-color);
    @include m.flexBox(row, flex-start, flex-start, null);
    margin-bottom: 50px;
}  

.skills {
  text-align: center;
}

.skill-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  text-align: center;
  flex: 1 1 80px;
  margin-bottom: 50px;

  img{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
  }

  p {
    @include m.styleFont('Roboto', 18px, 400, 25.2px, v.$secondary-color)
  }
}
