<section class="skills" id="skills">
  <h2>{{ "SKILLS.TITLE" | translate }}</h2>
  <div class="skill-icons">
    <div
      *ngFor="let skill of skills"
      class="skill"
      [ngClass]="{ 'challenge-me': skill.name === 'Challenge me' }"
      (mouseenter)="showTooltip(skill.name)"
      (mouseleave)="hideTooltip()"
    >
      <div class="skill-content">
        <div class="icon-and-name">
          <img [src]="skill.img" [alt]="skill.name" />
          <p>{{ skill.name }}</p>
        </div>
        <div
          *ngIf="tooltipVisible && skill.name === 'Challenge me'"
          class="tooltip"
        >
          <p>
            {{"SKILLS.CHALLENGE" | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="skill-arrow-text">
      <img src="../../../assets/img/arrow_10.png" alt="arrow icon" />
      <p>
        {{"SKILLS.CHALLENGE" | translate}}
      </p>
    </div>
  </div>
</section>
