<section class="hero" id="hero">
  <div class="hero-left">
    <div class="hero-left-btn">
      <a href="#contact-me">
        <button>{{ 'HERO.CONTACT_ME' | translate }}</button>
      </a>
    </div>
    <div class="hero-left-arrow">
      <a href="#why-me" (click)="scrollToSection($event, 'why-me')">
        <img src="../../../assets/img/arrow_04.png" alt="arrow down" class="arrow-img">
      </a>
    </div> 
    <div class="hero-left-name">
      <h2>{{ 'HERO.FRONTEND_DEVELOPER' | translate }}</h2>
      <p>Peter Pfautsch</p>
    </div>
  </div>
  <div class="hero-right">
    <img src="../../../assets/img/me_07.png" alt="this is me picture" />
  </div>
</section>