<section class="hero" id="hero">
  <div class="hero-left">
    <div class="hero-left-btn">
      <button type="button" (click)="scrollToSection($event, 'contact-me')">{{ 'HERO.CONTACT_ME' | translate }}</button>
    </div>
    <div class="hero-left-arrow">
      <button type="button" (click)="scrollToSection($event, 'why-me')" aria-label="Scrolle zum Abschnitt Warum ich">
        <img src="../../../assets/img/arrow_04.png" alt="" aria-hidden="true" class="arrow-img">
      </button>
    </div> 
    <div class="hero-left-name">
      <h2>{{ 'HERO.FRONTEND_DEVELOPER' | translate }}</h2>
      <p>Peter Pfautsch</p>
    </div>
  </div>
  <div class="hero-right">
    <img src="../../../assets/img/me2.png" alt="Porträt von Peter Pfautsch" />
  </div>
</section>