@use "../../../variables.scss" as v;
@use "../../../mixins.scss" as m;

.hero {
  @include m.flexBox(row, space-between, flex-end);
  width: 100%;
  height: 554px;
  margin-bottom: 80px;

  .hero-left {
    @include m.flexBox(column, flex-end, flex-start, 8px);
    height: 100%;

    h2 {
      @include m.styleFont("Roboto", 36px, 500, 44px, v.$secondary-color);
    }

    p {
      @include m.styleFont("Roboto", 60px, 700, 45px, v.$secondary-color);
    }

    .hero-left-btn {      
      @include m.flexBox(row, center, flex-end);
      height: 100%;

      button {       
        @include m.styleFont("Roboto", 18px, 500, 21.6px, v.$primary-color);
        background-color: transparent;
        width: 169px;
        height: 52px;
        padding: 15px 15px;
        rotate: -90deg;        
        transform-origin: top left;
        border: 1px solid v.$secondary-color;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  .hero-mid {
    @include m.flexBox(column, center, center);
    height: 100%;

    img {
      width: auto;
      height: auto;
    }
  }

  .hero-right {
    @include m.flexBox(row, flex-end, flex-start);
    width: 554px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
