@use "../../../variables.scss" as v;
@use "../../../mixins.scss" as m;

.hero {
  @include m.flexBox(row, space-between, flex-end);
  width: 100%;
  max-height: 554px;
  margin-bottom: 80px;

  .hero-left {
    @include m.flexBox(column, flex-end, flex-start, 8px);
    height: 142px;
    margin-left: 53px;

    h2 {
      @include m.styleFont("Roboto", 36px, 500, 44px, v.$secondary-color);
    }

    p {
      @include m.styleFont("Roboto", 60px, 700, 45px, v.$secondary-color);
    }

    img {
      position: relative;
      left: 100%;
      top: 2%;
    }

    .hero-left-btn {
      @include m.styleFont("Roboto", 18px, 100, 21.6px, v.$primary-color);
      background-color: transparent;
      position: absolute;
      left: 0;
      top: 250px;
      padding: 15px 15px;
      width: 169px;
      height: 52px;
      rotate: -90deg;
      border: 1px solid v.$secondary-color;
      text-align: center;
      cursor: pointer;
    }
  }

  .hero-right {
    @include m.flexBox(row, flex-end, flex-start);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
