@use "../../../variables.scss" as v;
@use "../../../mixins.scss" as m;

.hero {
  @include m.flexBox(row, space-between, flex-end);
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;

  .hero-left {
    @include m.flexBox(column, flex-end, flex-start, 8px);
    height: 100%;
    width: 75%;

    .hero-left-arrow {
      @include m.flexBox(column, center, flex-end);
      height: 33%;
      width: 85%;

      button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
      }

      button .arrow-img {
        width: 25px;
        height: 60px;
      }

      button:hover .arrow-img {
        transform: scaleY(1.2) scaleX(1.8);
        content: url("../../../assets/img/arrow_08.png");
      }
    }

    .hero-left-btn {
      @include m.flexBox(row, center, flex-end);
      height: 33%;

      button {
        @include m.styleFont("Roboto", 18px, 500, 21.6px, v.$primary-color);
        background-color: transparent;
        border: 1px solid v.$secondary-color;
        cursor: pointer;
        height: 52px;
        padding: 15px 15px;
        text-align: center;
        transform: rotate(-90deg) translate(-220px, 0);
        transform-origin: top left;
        transition: all 0.3s ease-out;
        width: auto;

        &:hover {
          color: v.$secondary-color;
        }
      }
    }

    .hero-left-name {
      @include m.flexBox(column, flex-end, flex-start);
      height: 33%;

      h1 {
        @include m.styleFont(
          "Roboto",
          clamp(24px, 4vw, 54px),
          500,
          clamp(28.8px, 4.8vw, 64.8px),
          v.$secondary-color
        );
      }

      p {
        @include m.styleFont(
          "Roboto",
          clamp(32px, 6vw, 82px),
          700,
          clamp(38.4px, 7.2vw, 98.4px),
          v.$secondary-color
        );
      }
    }
  }

  .hero-right {
    @include m.flexBox(row, flex-end, flex-end);
    height: 100%;
    width: 75%;

    img {
      width: 100%;
      height: calc(100% - 92px);
      object-fit: contain;
    }
  }

  @media (max-width: 576px) {
    @include m.flexBox(column, flex-end, center);
    margin-bottom: 30px;
    gap: 10px;

    .hero-left {
      order: 2;
      text-align: center;
      height: auto;

      .hero-left-btn {
        display: none;
      }

      .hero-left-arrow {
        display: none;
      }

      .hero-left-name {
        @include m.flexBox(column, center, center);
        width: 100%;

        h1 {
          @include m.styleFont("Roboto", 24px, 700, 28.8px, v.$secondary-color);
        }

        p {
          @include m.styleFont("Roboto", 40px, 700, 48px, v.$secondary-color);
        }
      }
    }

    .hero-right {
      order: 1;
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
        height: calc(100% - 92px);
      }
    }

    .hero-left {
      justify-content: center;

      .hero-left-name {
        p {
          font-size: 28px;
        }
      }
    }
  }
}
