@use './variables.scss';

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    to bottom,
    #13074E 0%,
    #1D0A79F2 95%
  );  
  max-width: 1440px;
  margin: 0px auto;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Handjet";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/handjet/Handjet-Regular.ttf") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/roboto/RobotoMono-Regular.ttf") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
