@use "../../../variables.scss" as v;
@use "../../../mixins.scss" as m;

.navbar {
  height: 92px !important;
  color: v.$primary-color;
  font-size: 22px;
  background: linear-gradient(to bottom, #0b042d 0%, #0b042d33 20%);

  .nav-link {
    @include m.flexBox();
    padding: 24px 0px;

    .nav-left {
      display: flex;
      align-items: center;

      .navbar-initials {
        p {
          font-family: v.$font-secondary !important;
          font-size: 48px;
          line-height: 48px;
          margin-right: 48px;
        }
      }

      .nav-links {
        a {
          text-decoration: none;
          margin-right: 48px;
          @include m.styleFont("Roboto", 22px, 500, 26.4px, v.$primary-color);

          &:hover {
            color: v.$hover-color;
          }
        }
      }
    }

    .nav-right {
      margin-left: auto;

      p {
        font-family: v.$font-primary;
      }
    }
  }
}
